:root {
  --color1: #000;
  --color2: #fff;
  --color3: #b30;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color1);;
  color: var(--color2);
  margin: 4rem;
}

.title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-transform: uppercase;
  letter-spacing: .25rem;
}

#text-input {
  width: 300px;
  font-size: 1.5rem;
}

#check-btn {
  margin-top: 20px;
  height: 30px;
  width: 90px;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 5px 10px;
  border-radius: 6px;
}

#check-btn:hover {
  transform: scale(1.1);
  transition: .2s;
}

#result {
  margin-top: 20px;
  font-size: 1.5rem;
}